irc-connect freenode chat.freenode.net 6667 lambdabot2 Lambda_Robots:_100%_Loyal
rc passwd.rc
admin + freenode:Cale
admin + freenode:Igloo
admin + freenode:Lemmih
admin + freenode:Pseudonym
admin + freenode:mauke
admin + freenode:dons
admin + freenode:gwern
admin + freenode:int-e
admin + freenode:musasabi
admin + freenode:shapr
admin + freenode:sjanssen
admin + freenode:sorear
admin + freenode:vincenz
join freenode:#debian-es
join freenode:#dreamlinux-es
join freenode:#friendly-coders
join freenode:#gentoo-uy
join freenode:#haskell-hac07
join freenode:#haskell.de
join freenode:#haskell.dut
join freenode:#haskell.es
join freenode:#haskell.fi
join freenode:#haskell.fr
join freenode:#haskell.hr
join freenode:#haskell.it
join freenode:#haskell.jp
join freenode:#haskell.no
join freenode:#haskell.ru
join freenode:#haskell.se
join freenode:#haskell_ru
join freenode:#thunks
