irc-connect freenode chat.freenode.net 6667 lambdabot Lambda_Robots:_100%_Loyal
rc passwd.rc
admin + freenode:Pseudonym
admin + freenode:shapr
admin + freenode:vincenz
admin + freenode:Igloo
admin + freenode:Cale
admin + freenode:dons
admin + freenode:TheHunter
admin + freenode:musasabi
admin + freenode:Lemmih
admin + freenode:sjanssen
admin + freenode:sorear
admin + freenode:int-e
join freenode:#haskell
join freenode:#haskell-blah
join freenode:#haskell-overflow
join freenode:#haskell.hac07
join freenode:#haskell.dut
join freenode:#gentoo-haskell
join freenode:#gentoo-uy
join freenode:#ghc
join freenode:#darcs
join freenode:#oasis
join freenode:#perl6
join freenode:#jtiger
join freenode:#unicycling
join freenode:#ScannedInAvian
