irc-connect freenode chat.freenode.net 6667 lambdabot Lambda_Robots:_100%_Loyal
join freenode:#haskell
join freenode:#haskell
join freenode:#haskell-blah
join freenode:#haskell-overflow
join freenode:#haskell.hac07
join freenode:#haskell.de
join freenode:#haskell.es
join freenode:#haskell.fi
join freenode:#haskell.fr
join freenode:#haskell.hr
join freenode:#haskell.it
join freenode:#haskell.jp
join freenode:#haskell.no
join freenode:#haskell.se
join freenode:#gentoo-haskell
join freenode:#gentoo-uy
join freenode:#ghc
join freenode:#darcs
join freenode:#oasis
join freenode:#perl6
join freenode:#jtiger
join freenode:#unicycling
join freenode:#ScannedInAvian
admin + Pseudonym
admin + shapr
admin + vincenz
admin + Igloo
admin + Cale
admin + dons
admin + TheHunter
admin + musasabi
admin + Lemmih
admin + sjanssen
admin + sorear
admin + int-e
source passwd.rc
