irc-connect freenode chat.freenode.net 6667 lambdabot Lambda_Robots:_100%_Loyal
rc passwd.rc
admin + freenode:Pseudonym
admin + freenode:shapr
admin + freenode:vincenz
admin + freenode:Igloo
admin + freenode:Cale
admin + freenode:dons
admin + freenode:TheHunter
admin + freenode:musasabi
admin + freenode:Lemmih
admin + freenode:sjanssen
admin + freenode:sorear
admin + freenode:int-e
admin + freenode:igli
join freenode:#haskell
join freenode:#ghc
join freenode:#jhc
join freenode:#darcs
join freenode:#scala
join freenode:#haskell-blah
join freenode:#haskell-overflow
join freenode:#haskell-soc
join freenode:#jtiger
join freenode:#perl6
join freenode:#unicycling
join freenode:#xmonad
join freenode:##logic
join freenode:#gentoo-haskell
join freenode:#scannedinavian
join freenode:#rosettacode
join freenode:#haskell-books
join freenode:#haskell.se
join freenode:#haskell.ru
join freenode:#haskell.no
join freenode:#haskell.jp
join freenode:#haskell.it
join freenode:#haskell.hr
join freenode:#haskell.fr
join freenode:#haskell.fi
join freenode:#haskell.es
join freenode:#haskell.de
join freenode:#haskell.dut
join freenode:#haskell.cz
join freenode:#haskell_ru
join freenode:#haskell-hac07
join freenode:#debian-es
join freenode:#dreamlinux-es
join freenode:#friendly-coders
join freenode:#gentoo-uy
join freenode:#arch-haskell
join freenode:#macosx
join freenode:#japanese
