join libera:#haskell
join libera:#ghc
join libera:#haskell-beginners
join libera:#haskell-blah
join libera:#haskell-offtopic
join libera:#haskell-in-depth
join libera:#haskell-lens
join libera:#haskell-cn
join libera:#haskell-it
join libera:#haskell-au
join libera:#haskell-es
join libera:#haskell-tw
join libera:#haskell-cs
join libera:#haskell-it-offtopic
join libera:#xmonad
join libera:#kmonad
join libera:#bfpg
join libera:#scannedinavian
join libera:#esolangs
