ignore + libera:HackEgo
ignore + libera:HackEso
ignore + libera:yahb
ignore + libera:fungot
ignore + libera:fungot`
ignore + libera:j-bot
ignore + libera:bfbot
ignore + libera:blsqbot
ignore + libera:egelbot
ignore + libera:velik
ignore + libera:perlbot
